<div class="list-container grey">
  <h3 class=" fade-in-items">
    <span class="degree-title">Bachelor's of Technology in Software Engineering</span>
    <div class="school-title">McMaster University <span class="sub-text">Class of 2017</span></div>
  </h3>
  <ol class="skill fade-in-items" list-item>
    <li>
      <p>Software Design</p>
    </li>

    <li>
      <p>Project Management</p>
    </li>

    <li>
      <p>Software Architecture</p>
    </li>

    <li>
      <p>Computer Security</p>
    </li>
  </ol>

  <h3 class="fade-in-items">
    <span class="degree-title">Advanced Diploma in Electrical Engineering Technology</span>
    <div class="school-title">Georgian College <span class="sub-text">Class of 2011</span> </div>
  </h3>
  <ol class="skill fade-in-items" list-item>
    <li>
     <p>C++ Programming</p>
    </li>

    <li>
      <p>Mathematics for Technology</p>
    </li>

    <li>
     <p>Python Application Development</p>
    </li>
  </ol>
</div>
