<div class="list-container grey">
  <div class="list-headers">
    <h3 class="degree-title">
      Bachelor's of Technology in Software Engineering
    </h3>
    <div class="school-title">
      <h3>McMaster University</h3>
    </div>
    <div class="school-title sub-text"><h3>Class of 2017</h3></div>
  </div>
  <ol class="skill fade-in-items" list-item>
    <li>
      <p>Software Design</p>
    </li>

    <li>
      <p>Project Management</p>
    </li>

    <li>
      <p>Software Architecture</p>
    </li>

    <li>
      <p>Computer Security</p>
    </li>
  </ol>

  <div class="list-headers">
    <h3 class="degree-title">
      Advanced Diploma in Electrical Engineering Technology
    </h3>
    <div class="school-title">
      <h3>Georgian College</h3>
    </div>
    <div class="school-title sub-text"><h3>Class of 2011</h3></div>
  </div>
  <ol class="skill fade-in-items" list-item>
    <li>
     <p>C++ Programming</p>
    </li>

    <li>
      <p>Mathematics for Technology</p>
    </li>

    <li>
     <p>Python Application Development</p>
    </li>
  </ol>
</div>
