<div class="content-cop grey" >
    <skill
    skill-name="Javascript"
    selected-hues="$ctrl.selectedHues"
    percentage="95">
    </skill>

    <skill
    skill-name="CSS/HTML5"
    selected-hues="$ctrl.selectedHues"
    percentage="85">
    </skill>

    <skill
    skill-name="Ruby on Rails"
    selected-hues="$ctrl.selectedHues"
    percentage="75">
    </skill>

    <skill
    skill-name="NodeJS"
    selected-hues="$ctrl.selectedHues"
    percentage="60">
    </skill>

    <skill
    skill-name="Scrum/Agile Developement"
    selected-hues="$ctrl.selectedHues"
    percentage="76">
    </skill>

    <skill
    skill-name="Git"
    selected-hues="$ctrl.selectedHues"
    percentage="90">
    </skill>
</div>
