<div class="content-cop grey" >
    <skill
    skill-name="Javascript"
    selected-hues="$ctrl.selectedHues"
    percentage="95">
    </skill>

    <skill
    skill-name="CSS/Bootstrap"
    selected-hues="$ctrl.selectedHues"
    percentage="85">
    </skill>

    <skill
    skill-name="Docker"
    selected-hues="$ctrl.selectedHues"
    percentage="60">
    </skill>

    <skill
    skill-name="Automated Software Testing"
    selected-hues="$ctrl.selectedHues"
    percentage="80">
    </skill>

    <skill
    skill-name="Scrum/Agile Developement"
    selected-hues="$ctrl.selectedHues"
    percentage="76">
    </skill>
</div>
