<div class="content-cop">
  
  <div class="flex-container fade-in-items about-me">
    <div class="text-container" ng-class="$ctrl.swapPictureWithText ? 'photo-text-swap' : ''">
      <p class="skill grey">
        I am a full-stack web developer who enjoys learning new tech and contributing to the open source community.
        So far I have worked with technologies such as <span class="grey strong">NodeJS</span>, <span class="grey strong">Ruby on Rails</span>, <span class="grey strong">Angular.js</span>, <span class="grey strong">Vue.js</span> and <span class="grey strong">MySQL</span>.
        My goal is to find a job where I can express my creativity and make contributions to the web community that are helpful to my peers. 
      </p>
    </div>

    <div class="picture-box" ng-class="$ctrl.swapPictureWithText ? 'photo-text-swap' : ''">
      <div class="about-me-picture">
        <div alt="Me" class="picture picture-block"></div>
      </div>
      
    </div>
  </div>

  <div class="text-center">
    <button onclick="window.open('../../lib/Resume_Mitchell_Drohan.pdf', '_blank')" class="download mat-button">
      <div class="download-btn">
        <span> 
          <i class="fa fa-download"></i>
          Download Resume
        </span>
      </div>
    </button>
  </div>
</div>
