<div class="content-cop">
  
  <div class="flex-container fade-in-items about-me">
    <div class="text-container" ng-class="$ctrl.swapPictureWithText ? 'photo-text-swap' : ''">
      <p class="skill grey">
        I am a full-stack web developer who enjoys learning new tech and applying it to modern,
        ground-breaking applications. I have experience with web design, code refactoring, peer code reviews
        and web server configuration. I hope to find a job where I can express my creativity while working with
        a team to make contributions to the web community.
      </p>
    </div>

    <div class="picture-box" ng-class="$ctrl.swapPictureWithText ? 'photo-text-swap' : ''">
      <div class="about-me-picture">
        <div alt="Me" class="picture picture-block"></div>
      </div>
      
    </div>
  </div>

  <div class="text-center">
    <button onclick="window.open('../../lib/Resume_Mitchell_Drohan.pdf', '_blank')" class="download mat-button">
      <div class="download-btn">
        <span> 
          <i class="fa fa-download"></i>
          Download Resume
        </span>
      </div>
    </button>
  </div>
</div>
