div.list-headers {
  display: flex;
  margin-left: 40px;
  width: 100%;
  flex-wrap: wrap;
  font: bold 1.4em/1.5em Helvetica, Serif;
  color: #383337;
}

div.list-headers > h3 {
  margin-bottom: 0%;
  width: 65%;
  display: flex;
  margin-right: 5%;
}

ol.skill > li{
  padding: 0.6em 0 0.6em 0;
  border-bottom: 1px dashed #ccc;
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: justify;
}

ol.skill > li:first-child{
  border-top: 1px dashed #ccc;
}

h2{
  position: relative;
  margin: 0;
}

p{
  margin: 0;
}

ol {
  counter-reset: li; 
  width: 100%;
  display: inline-block;
}

ol.skill > li:nth-child(1) > .list-bullet {
  transform: rotate(5deg);
}

ol.skill > li:nth-child(2) > .list-bullet {
  transform: rotate(-12deg);
}

ol.skill > li:nth-child(3) > .list-bullet {
  transform: rotate(3deg);
}

ol.skill > li:nth-child(4) > .list-bullet {
  transform: rotate(-17deg);
}

ol.skill > li:nth-child(5) > .list-bullet {
  transform: rotate(12deg);
}

ol.skill > li:nth-child(6) > .list-bullet {
  transform: rotate(-2deg);
}

ol.skill > li:nth-child(7) > .list-bullet {
  transform: rotate(7deg);
}

ol.skill > li > .list-bullet {
  content: counter(li);
  counter-increment: li;
  background: rgba(56,51,55,0.1);
  border-radius: 1px;
  min-width: 37px;
  width: 37px;
  text-align: center;
  font: italic bold 1em/1.5em Georgia, Serif;
  color: #383337;
  transition: all .2s ease-out;    
  vertical-align: middle;
  padding-bottom: 0.2em;
  margin-right: 20px;
  margin-left: -57px;
}

div.sub-text {
  display: flex;
  align-items: flex-end;
  width: 30%;
  justify-content: right;
  float: right;
}

div.sub-text > h3 {
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
}

.degree-title {
  width: 100% !important;
  padding-bottom: 0.2em;
}

.school-title.sub-text {
  width: 45% !important;
  margin-right: 0% !important;
}

.school-title > h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: italic;
}

.school-title {
  margin-top: 0.2em;
  width: 50%;
  margin-right: 5%;       
}

div.list-container {
  width: 94%;
}

@media (max-width: 1040px) {
  div.list-headers {
    font: bold 1.1em/1.5em Helvetica, Serif;
  }
}

@media (max-width: 600px) {
  div.list-container {
    width: 100%;
  }

  div.list-headers{
    font: bold 1em/1.5em Helvetica, Serif;
    margin-left: 0px;
  }

  div.sub-text {
    width: 100%;
    margin-top: 8px;
    justify-content: left;
  }

  div.sub-text.school-title {
    justify-content: right;
  }
  
  div.sub-text > h3 {
    font-size: 1.1em;
  }

  div.list-headers > h3 {
    width: 100%;
    margin-right: 0px;
  }

  span.list-bullet {
    display: none;
  }

  ol {
    padding-left: 0px;
  }
}
