h3 {
  margin-left: 1.7em;
  font: bold 1.7em/1.5em Helvetica, Serif;
  color: #383337;
  margin-bottom: 0px;
  width: 100%;
}

ol.skill > li{
  padding: 0.6em 0.6em 0.6em 0;
  border-bottom: 1px dashed #ccc;
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: justify;
}

ol.skill > li:first-child{
  border-top: 1px dashed #ccc;
}

h2{
  position: relative;
  margin: 0;
}

p{
  margin: 0;
}

ol {
  counter-reset: li; 
  width: 100%;
  display: inline-block;
}

ol.skill > li:nth-child(1) > .list-bullet {
  transform: rotate(5deg);
}

ol.skill > li:nth-child(2) > .list-bullet {
  transform: rotate(-12deg);
}

ol.skill > li:nth-child(3) > .list-bullet {
  transform: rotate(3deg);
}

ol.skill > li:nth-child(4) > .list-bullet {
  transform: rotate(-17deg);
}

ol.skill > li:nth-child(5) > .list-bullet {
  transform: rotate(12deg);
}

ol.skill > li:nth-child(6) > .list-bullet {
  transform: rotate(-2deg);
}

ol.skill > li:nth-child(7) > .list-bullet {
  transform: rotate(7deg);
}


ol.skill > li > .list-bullet {
  content: counter(li);
  counter-increment: li;
  background: rgba(56,51,55,0.1);
  border-radius: 1px;
  width: 37px;
  text-align: center;
  font: italic bold 1em/1.5em Georgia, Serif;
  color: #383337;
  transition: all .2s ease-out;    
  vertical-align: middle;
  padding-bottom: 0.2em;
  margin-right: 20px;
  margin-left: -57px;
}

span.sub-text {
  font: bold italic 0.9em/1.5em Helvetica, Serif;
  float: right;
  border-bottom-color: rgba(56,51,55,0.8) !important;
  border-bottom: solid;
}

.degree-title {
  width: 100%;
  font: bold 0.9em/1.5em Helvetica, Serif;
  padding-bottom: 0.2em;
}

.school-title {
  margin-top: 0.2em;
  font: bold italic 0.9em/1.5em Helvetica, Serif;
}

div.list-container {
  width: 92%;
}
