<header class="navbar navbar-default navbar-fixed-top navbar-inner" >
  <nav role="navigation">
    <center>
      <div class="navbar-container">
        <ul class="nav navbar-nav">
          <li class="nav-item navbar-item-{{$index}}" 
              ng-repeat="choice in $ctrl.items track by choice.id" 
              ng-class="{'navbar-brand-selected': choice.link == $ctrl.currentNavItemLink, 'no-nav-item': $ctrl.isItemSelected()}"
              ng-click="$ctrl.navigate(choice.link, $index)">
              
            
            <a class="navbar-button navbar-brand" role="button"  >
              {{choice.text }}
              <div class="nav-underline" ng-style="{{$ctrl.randomBorderColorStyles[$index]}}"></div>
            </a>

          </li>

          <li class="nav-choice nav-selector">
            <a ng-style="$ctrl.randomBorderColorStyles[$ctrl.selectedItemIndex]">
            </a>
          </li>
        </ul>
      </div>
    </center>
  </nav>
</header>

<div ng-repeat="item in $ctrl.items">
  <div class="content-container" ng-click="$ctrl.navigate($ctrl.currentNavItemLink)">
    <div ng-class="'content-drop-down' + ' ' + $ctrl.styleClass(item.link)">
      <content ng-if="item.show"  
      ng-click="d(); $event.stopPropagation();"
      id="{{item.link}}-container"
      content-name="{{item.text}}"
      component="{{item.link}}">
      </content>
    </div>
  </div>
</div>
