<!DOCTYPE HTML>
<html lang="en" ng-app="resume" ng-controller="indexController" ng-strict-di class="no-js">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" >

    <link rel="stylesheet" href="./lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/app.css" media="screen">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css" media="screen">
</head>

<body>
  <noscript>
    <h1>This page requires JavaScript to function properly.</h1>
    <div class="content-heading"/>
    <a href="http://www.enable-javascript.com/" class="grey fa fa-frown-o fa-4x"></a>
  </noscript>

  <div class="content" ng-click="isCloseNavigatorTriggered = true">
    <div ng-if="hasFocus" class="center-block canvas-container">
      <center-header style="z-index:1000;"></center-header>
      <div id="container"canvas-renderer confetti></div>
    </div>
  </div>

  <navigator
    is-close-navigator-triggered="isCloseNavigatorTriggered"
    reset-nav-state="resetNavState()">
  </navigator>
  <script src="./app.bundle.js"></script>
</body>

</html>
