<div class="list-container grey">
  <div class="list-headers">
    <h3 class="fade-in-items">
       Fluid Media - Full Stack Developer 
    </h3>
    <div class="sub-text">
      <h3>
        2017 - present 
      </h3>
    </div>
  </div>

  <ol class="skill fade-in-items" list-item>
    <li>
      <p>Created complex web apps using <b>ES6</b> and <b>HTML5</b>.</p>
    </li>

    <li>
      <p>Wrote javascript web components using <b>Vue.js</b> and learned to manage application state using <b>VueX</b>.</p>
    </li>

    <li>
      <p>Created and maintained code for server side technologies such as <b>MySQL</b>, <b>Ruby on Rails</b> and <b>Node.js</b>.</p>
    </li>

    <li>
      <p>Refactored code for maintainability and worked to ensure the code base adheared to <b>SOLID</b> principles.</p>
    </li>

    <li>
      <p>Mastered version control using <b>Git</b>.</p>
    </li>

    <li>
      <p>Learned to deploy web apps using <b>AWS</b> and <b>Capistrano</b>.</p>
    </li>
  </ol>

  <div class="list-headers">
    <h3>
       Mohawk College - Quality Assurance Developer
    </h3>
    <div class="sub-text" >
      <h3>
        2016 - 2017
      </h3>
    </div>
  </div>

  <ol class="skill" list-item>
    <li>
      <p>Developed front-end features in <b>AngularJS</b>.</p>
    </li>

    <li>
      <p>Worked as a member of an agile team of developers to create the 
      <a class="strong grey" href="https://tph.icon.ehealthontario.ca/#!/welcome" target="_blank" > 
      Immunization Connect Ontario Website.</a></p>
    </li>

    <li>
      <p>Created <b>Protractor/Selenium</b> end-to-end test scripts.</p>
    </li>

    <li>
      <p>Setup and maintained a continuous integration server for running test scripts using <b>Docker</b> and <b>Jenkins</b>.</p>
    </li>

    <li>
      <p>Reported bugs and created <b>JIRA</b> tasks.</p>
    </li>
  </ol>

  <div class="list-headers">
    <h3 class="fade-in-items">
      Guelph Hydro - Engineering Technologist  
    </h3>
    <div class="sub-text">
      <h3>
        2012 - 2015
      </h3>
    </div>
  </div>
  <ol class="skill fade-in-items" list-item>
    <li>
      <p>Automated the energy distribution design process using <b>AutoCAD 3D</b> and <b>LISP</b>.</p>
    </li>

    <li>
      <p>Updated the Guelph Hydro website.</p>
    </li>

    <li>
      <p>Programmed relays at distribution high voltage transformer substations for distribution network protection.</p>
    </li>
  </ol>
</div>
