<div class="list-container grey">
  <div class="list-headers">
    <h3 class="fade-in-items">
       Mohawk College - Idea Works: MEDIC
    </h3>
    <div class="sub-text">
      <h3>
        2016 - 2017
      </h3>
    </div>
  </div>

  <ol class="skill fade-in-items" list-item>
    <li>
      <p>Developed front-end features in AngularJS.</p>
    </li>

    <li>
      <p>Worked as a member of an agile team of developers to create the 
      <a class="strong grey" href="https://tph.icon.ehealthontario.ca/#!/welcome" target="_blank" > 
      Immunization Connect Ontario Website.</a></p>
    </li>

    <li>
      <p>Created Protractor/Selenium end-to-end test scripts.</p>
    </li>

    <li>
      <p>Setup and maintained a continuous integration server for running test scripts using Docker and Jenkins.</p>
    </li>

    <li>
      <p>Reported bugs and created JIRA tasks.</p>
    </li>
  </ol>

  <div class="list-headers">
    <h3 class="fade-in-items">
      Guelph Hydro 
    </h3>
    <div class="sub-text">
      <h3>
        2012 - 2015
      </h3>
    </div>
  </div>
  <ol class="skill fade-in-items" list-item>
    <li>
      <p>Automated the energy distribution design process using AutoCAD 3D and LISP.</p>
    </li>

    <li>
      <p>Updated the Guelph Hydro website.</p>
    </li>

    <li>
      <p>Programmed relays at distribution high voltage transformer substations for distribution network protection.</p>
    </li>
  </ol>

  <div class="list-headers">
    <h3 class="fade-in-items">
      Hydro One 
    </h3>
    <div class="sub-text">
      <h3>
        2010 - 2011
      </h3>
    </div>
  </div>
  <ol class="skill fade-in-items" list-item>
    <li>
      <p>Utilized GIS enabled tablet computers to gather information in the field.</p>
    </li>

    <li>
      <p>Utilized industry specific software to generate cost report packages.</p>
    </li>
  </ol>
</div>
